# DB settings
POSTGRES_DB={{ cookiecutter.project_slug }}

# General settings
DJANGO_SETTINGS_MODULE={{ cookiecutter.project_slug }}.settings.base
DJANGO_SECRET_KEY='CHANGEME!!!'
DJANGO_ALLOWED_HOSTS=localhost,.{{ cookiecutter.domain_name }}

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False
